<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr-FR">
<head>
    <title>Réinitialisation de mot de passe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
        }
    </style>
</head>
<body>
<p>Bonjour,</p>
<p>
    Vous avez demandé la réinitialisation de votre mot de passe le
    <span>{{date}}</span>.
</p>
<p>
    Veuillez suivre le lien ci-dessous pour compléter l'opération.
</p>
<p>
    <a href="{{url}}">{{url}}</a>
</p>
<p>
    Cordialement.
</p>
</body>
</html>
